<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card">
            <div class="flex justify-content-between flex-wrap">
                <h5>ประวัติการจอง</h5>
                <p-button label="จองคิว" icon="pi pi-check" size="small" (click)="navigateToOtherPage()"></p-button>
            </div>
            
            <p-timeline [value]="events">
                <ng-template pTemplate="content" let-event>
                    <small class="p-text-secondary">{{thaiDateFormat(event.date)}}</small>
                    
                    <div class="card mb-2 flex align-items-center">
                    
                        <!-- <p-avatar label="BS" size="large" shape="circle" styleClass="text-base font-bold"
                        [style]="{'background-color':'rgba(101, 214, 173, 0.1)', 'color': '#27AB83', 'border': '1px solid #65D6AD'}"></p-avatar> -->
                        <p-avatar image="{{event.icon}}" size="large" shape="circle"></p-avatar>
                        <div class="row">
                            <div class="ml-5">                           
                                <span class="block" style="margin-bottom: 7px;"><i class="pi pi-building"></i> : {{event.hospital_name}}</span>
                                <span class="text-color-secondary block" style="margin-bottom: 7px;"><i class="pi pi-user"></i> : คุณ{{event.customer_name}}</span>
                                <span class="text-color-secondary block" style="margin-bottom: 7px;"><i class="pi pi-external-link"></i> : {{event.service_type_name}}</span>
                                <!-- <span class="text-color-secondary block" style="margin-bottom: 5px;"><i class="pi pi-tag"></i> : {{event.slot_name}}</span> -->
                                <span class="text-color-secondary block" style="margin-bottom: 7px;"><i class="pi pi-check-square"></i> : {{event.is_confirm}}</span>
                                
                            </div>
                        </div>
                        
                    </div>
                   
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                    คลินิก : {{event.service_name}}
                </ng-template>
            </p-timeline>
        </div>
    </div>
</div>
